<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/meme_style.css">
    <title>Meow Meme</title>
</head>
<body class="vh-100 d-flex flex-column">
    <div class="container-fluid flex-grow-1 bg-gradient-lime flex-center flex-column">
        <img src="{{meme_pic}}" alt="Meme Picture">
        <p class="text-center text-light">{{subreddit}}</p>
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
</body>
</html>